@font-face {
    font-family: 'Cairo-Regular';
    src: url('fonts/Cairo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cairo-ExtraBold';
    src: url('fonts/Cairo-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
header {
    background: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}
.logo {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bolder;
    color:aqua;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0.1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}