@font-face {
    font-family: 'Cairo-Regular';
    src: url('fonts/Cairo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cairo-ExtraBold';
    src: url('fonts/Cairo-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

/* BODY */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.body2 {
    padding-top: 80px;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
    flex-grow: 1;
    padding-bottom: 64px;
}
.container-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.container-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.container-text {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    padding-left: 10%;
}
section {
    padding: 2em 1em;
    text-align: center;
}
.rectangle {
    position: absolute;
    align-items: center;
    background: #2E2BD0;
    width: 700px;
    height: 60px;
    left: 120px;
    z-index: -1;
}
h1 {
    font-family: 'Montserrat-Bold';
    color: white;
    font-size: 50px;
}
h2 {
    margin-left: 10%;
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: left;
}
h3 {
    color:#2E2BD0;
    padding-top: 20px;
}
.container-goals {
    display: flex;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}
.goal {
    flex: 1;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    border:1px solid #ccc;
    border-radius: 25px;
}
.img-goal {
    height: 300px;
    width: auto;
    border:1px solid #ccc;
    border-radius: 25px;
}
.container-goals:nth-child(odd) {
    flex-direction: row-reverse;
}
.container-goals:nth-child(even) {
    flex-direction: row;
}
h3 + p {
    font-weight: bold;
    color: #2F353F;
}
h3 + p + p {
    color: #636363;
}
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 50px auto;
    background: linear-gradient(45deg, #2E2BD0, #7876F2);
    border-radius: 25px;
    padding: 50px;
}
.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-left, .contact-right {
    flex: 1;
}

.form-title {
    font-family: 'Montserrat';
    color: white;
    font-size: 55px;
    text-align: left;
    margin-bottom: 40px;
}

.contact-left form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: white;
    opacity: 0.5;
}

.text-form {
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 20px;
}

.text-form a {
    color: white;
}

.text-form a:hover {
    color: #a3a3d9;
}

.contact-right textarea {
    height: 120px;
}

.submit-button {
    width: 250px;
    height: 50px;
    background: white;
    color: #2E2BD0;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button:hover {
    background: rgb(213, 213, 213);
}

/* HEADER */
.header1 {
    position: relative;
    color: white;
    padding: 1em 0;
    text-align: center;
    margin-bottom: 100px;
}
.header1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 2.5%;
    width: 95%;
    height: 1px;
    background: rgb(255, 255, 255);
}

.header2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #2F353F;
    padding: 1em 0;
    text-align: center;
    z-index: 1000;
}

.header2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2.5%;
    width: 95%;
    height: 1px;
    background-color: #2F353F;
}

.logo {
    font-family: 'Cairo-ExtraBold';
    line-height: 1;
    text-align: left;
}
.logo2 {
    font-family: 'Cairo-ExtraBold';
    color: #2F353F;
    line-height: 1;
    font-size: 20px;
    text-align: left;
}
nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu {
    display: flex;
    text-align: right;
    gap: 40px;
}
.menu li {
    display: inline;
}
.menu a {
    font-family: 'Montserrat';
    font-size: 18px;
    color:white;
    text-decoration: none;
}
.menu a:hover {
    color: #ccc;
}
.menu2 {
    display: flex;
    text-align: right;
    gap: 40px;
}
.menu2 li {
    display: inline;
}
.menu2 a {
    font-family: 'Montserrat';
    font-size: 18px;
    color:#2F353F;
    text-decoration: none;
}
.menu2 a:hover {
    color:#636363;
}
.contact-button {
    font-family: 'Montserrat';
    background: #2E2BD0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.contact-button:hover {
    background: #4846d4;
}

/* FOOTER */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    padding: 40px 60px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Montserrat';
}

.logo {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
}

.email {
    color: #4846d4;
    font-weight: bold;
    text-decoration: none;
}

.email:hover {
    color: #a3a3d9;
    font-weight: bold;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}

.social-icons img:hover {
    border: 2px solid #a3a3d9;
}

.contact-btn {
    background: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-btn span {
    font-size: 16px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

.location {
    color: blue;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    text-decoration: none;
    color: blue;
}

/* 2страница */
.about-section {
    display: flex;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}
.about-company {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #636363;
    text-align: left;
}
.container-about {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 500px;
    margin:0 auto;
}
.about {
    text-align: left;
    font-family: 'Montserrat';
    font-size: 17px;
    padding-top: 15px;
    padding-left: 15px;
    border:1px solid #ccc;
    border-radius: 25px;
}
.about-h3 {
    font-size: 25px;
}
.about-p {
    color: #636363;
    font-weight: 100;
}
.about-background {
    text-align: left;
    font-family: 'Montserrat';
    font-size: 17px;
    padding-top: 15px;
    padding-left: 15px;
    border:1px solid #ccc;
    border-radius: 25px;
    background: linear-gradient(45deg, #2E2BD0, #7876F2);
    grid-column: 1 / 2;
    grid-row: 2;
    transform: translate(-15px, 15px);

}
.about-background-h3 {
    color: #f5f5f5;
    font-size: 25px;
}
.about-background-p {
    color: #f5f5f5;
    font-weight: 100;
}
.img-about {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    max-height: 600px;
    object-fit: cover;
    border:2px solid #2E2BD0;
    border-radius: 25px;
}

.concept-section {
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    align-items: stretch;
}

.concept-section > div {
    flex: 1;
    padding: 20px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.concept-section > div:not(:last-child) {
    border-right: 2px solid #2E2BD0;
}

.img-concept {
    width: 50px;
    height: 50px;
    margin-top: 100px;
}

.concept {
    font-family: 'Montserrat';
    color: #2F353F;
    font-size: 30px;
    padding-top: 15px;
    min-height: 50px;
    margin-top: 20px;
}

.concept + p {
    font-family: 'Montserrat';
    color: #636363;
    font-size: 20px;
    font-weight: 100;
    min-height: 100px;
}

.img-people {
    display: block;
    width: 80px;
    height: 80px;
    align-items: left;
    margin-top: 40px;
    object-fit: cover;
    border:2px solid #2E2BD0;
    border-radius: 100px;
    align-self: flex-start;
    margin-left: 30px;
}
.comments-section {
    display: flex;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}
.comment {
    width: 400px;
    height: 400px;
    padding-left: 30px;
    background: linear-gradient(45deg, #2E2BD0, #7876F2);
    border-radius: 25px;
    align-items: flex-start;
}
.people-name {
    font-family: 'Montserrat';
    color: #ffffff;
    text-align: left;
    font-size: 25px;
}
.people-comment {
    font-family: 'Montserrat';
    color: #ffffff;
    text-align: left;
    font-size: 18px;
}

/* 3 страница */
.img-services {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    padding: 20px;
    object-fit: cover;
    align-self: flex-start;
}
.services-title {
    font-family: 'Montserrat';
    font-size: 25px;
    text-align: left;
}
.service {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: left;
    color: #636363;
    font-weight: 100;
}
.development {
    display: flex;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}

/* 4 страница */
.about-project {
    font-family: 'Montserrat';
    font-size: 25px;
    max-width: 85%;
    margin-left: 120px;
    text-align: left;
    color: #636363;
    font-weight: 100;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 85%;
    margin: 0 auto;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 25%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.project-wrapper:nth-of-type(1) .project {
    background-image: url('image/project1.jpg');
}

.project-wrapper:nth-of-type(2) .project {
    background-image: url('image/project2.jpg');
}

.project-wrapper:nth-of-type(3) .project {
    background-image: url('image/project3.jpg');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover {
    transform: scale(1.1);
}
.project:hover .overlay {
    opacity: 1;
}

.project-text {
    margin: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.project-title {
    font-family: 'Montserrat';
    font-size: 25px;
}