@font-face {
    font-family: 'Cairo-Regular';
    src: url('fonts/Cairo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cairo-ExtraBold';
    src: url('fonts/Cairo-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
.logo {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bolder;
}